<h2>All the Restaurants</h2>

<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %> ::: <%= restaurant.category.capitalize %></li>
  <%= link_to "Go to restaurant", restaurant_path(restaurant) %>
  <p><%= link_to "Add a review", new_restaurant_review_path(restaurant) %></p>

<% end %>
</ul>

<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>

